<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<aside th:fragment="aside" class="main-sidebar">

		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">

			<!-- Sidebar user panel (optional) -->
			<div class="user-panel">
				<div class="pull-left image">
					<img th:src="@{'/img/'+ ${(session.usuario.rutaFoto)}}" class="img-circle"
						alt="User Image">
				</div>
				<div class="pull-left info">
					<p th:text="${(session.usuario.nombreApellido != null && session.usuario.nombreApellido != '')} ? ${(session.usuario.nombreApellido)} : ${(session.usuario.login)}"></p>
					<!-- Status -->
					<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
				</div>
			</div>

			<!-- Sidebar Menu -->
			<ul class="sidebar-menu">
				<li class="header">MENU PRINCIPAL</li>

				<li th:class="${activo == 'entrenamiento'} ? 'active' : ''" class="active"><a th:href="@{/home/entrenamiento}"><i class="fa fa-calendar"></i> <span>Entrenamientos</span></a></li>

				<li th:class="${activo == 'perfil'} ? 'active' : ''"><a th:href="@{/home/perfil}"><i class="fa fa-user"></i><span>Perfil</span></a></li>
			</ul>
			<!-- /.sidebar-menu -->
		</section>
		<!-- /.sidebar -->
	</aside>
</body>
</html>