<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="../fragments/head_fragment :: head (#{actualizarEntrenamiento.page.title})">
</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<!-- Header principal -->
		<header th:replace="/layout/header_layout :: header"
			class="main-header"></header>

		<aside th:replace="/layout/aside_layout :: aside" class="main-sidebar">

		</aside>

		<!-- Wrapper del Contenido -->
		<div class="content-wrapper">
			<!-- Contenido Header-->

			<!-- Contenido Principal -->
			<section class="content-header">
				<h1
					th:text="'Editar entrenamiento - ' + ${(entrenamiento.nombreEntreno)}"></h1>
			</section>
			<!-- /Contenido Principal -->
			<section class="content">

				<div class="row">
					<div class="col-md-12">
						<div class="box box-success">
							<div class="box-header with-border">
								<h3 class="box-title">Datos entrenamiento</h3>
							</div>
							<div class="box-body">
								<form th:action="@{/home/entrenamiento/actualizar}"
									method="post" th:object="${entrenamiento}"
									class="form-horizontal">
									<input type="hidden" th:field="*{idEntrenamiento}"
										th:value="${(entrenamiento.idEntrenamiento)}">
									<div class="box-body">
										<div th:class="${#fields.hasErrors('nombreEntreno')} ? 'form-group has-error' : 'form-group' "
											class="form-group">
											<label for="nombreEntreno" class="col-sm-2 control-label">Nombre
												entrenamiento(*): </label>

											<div class="input-group col-sm-6">

												<input th:field="*{nombreEntreno}" id="pesoReg" type="text"
													th:value="${(entrenamiento.nombreEntreno)}"
													id="nombreEntreno"
													class="form-control"> <span
													class="input-group-addon"> <i
													class="fa fa-pencil-square-o"></i>
												</span>

											</div>
										</div>

										<div class="form-group">
											<label for="datepicker" class="col-sm-2 control-label">Fecha
												de Entreno(*)</label>

											<div class="input-group col-sm-6">

												<input th:field="*{fecha}" readonly
													th:value="${#dates.format(entrenamiento.fecha, 'dd/MM/yyyy')}"
													type="text" class="form-control" id="datepicker">
												<div class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</div>
												
											</div>

											<div class="col-sm-3 control-label has-error">
												<label th:if="${#fields.hasErrors('fecha')}"
													th:each="err : ${#fields.errors('fecha')}"
													class="control-label" for="inputError"><i
													class="fa fa-times-circle-o"></i> <span th:text="${err}"></span>
												</label>
											</div>

										</div>

										<div class="form-group">
											<label for="notasEntreno" class="col-sm-2 control-label">Notas
												de entreno</label>

											<div class="input-group col-sm-6">

												<textarea th:field="*{notas}" id="notasEntreno"
													th:text="${(entrenamiento.notas)}" style="resize: none"
													class="form-control" rows="3"
													placeholder="Introduce las notas del entrenamiento..."></textarea>
												<div class="input-group-addon">
													<i class="fa fa-sticky-note"></i>
												</div>
											</div>
										</div>

										<table id="tablaEjercicios" style="width: 50%" class="table table-striped">
											<tbody>
												<tr>
													<th style="width: 40%;">Ejercicio</th>
													<th>Carga Maxima</th>
													<th>Total Repeticiones</th>
													<th></th>

												</tr>
												<tr class="ejercicio"
													th:each="ejercicio, status : ${entrenamiento.ejercicios}">

													<td><input
														th:field="*{ejercicios[__${status.index}__].idEjercicio}"
														th:value="${ejercicio.idEjercicio}" type="hidden"
														class="form-control">
														<select
														th:field="*{ejercicios[__${status.index}__].tipoEjercicio.idTipoEjercicio}"
														class="form-control select2" style="width: 100%;">
															<option th:each="tipoEjercicio : ${tipoEjercicios}"
																th:value="${tipoEjercicio.idTipoEjercicio}"
																th:text="${tipoEjercicio.nombreEjercicio}"
																th:selected="${ejercicio.tipoEjercicio.idTipoEjercicio == tipoEjercicio.idTipoEjercicio}" />
													</select>
													<td><input
														min=1 required step="0.01"
														th:field="*{ejercicios[__${status.index}__].cargaMax}"
														th:value="${ejercicio.cargaMax}" type="number"
														class="form-control" placeholder="(Kg.)"></td>

													<td><input min=1 required step="1"
														th:field="*{ejercicios[__${status.index}__].totalRepeticiones}"
														th:value="${ejercicio.totalRepeticiones}" type="number"
														class="form-control" placeholder="Total Rep"></td>
													<td><a th:href="@{|/home/entrenamiento/ejercicio/${ejercicio.idEjercicio}/eliminar|}" class="btn btn-danger btn eliminarEjercicio"><i
															class="fa fa-trash eliminarEjercicio"></i> Eliminar</a></td>


												</tr>
											</tbody>
										</table>
										<div class="col-md-2">
										<button id="agregarEjercicio" type="button" class="btn btn-success"><i class="fa fa-plus"></i> Agregar Ejercicio</button>
										</div>
									</div>

									<!-- /.box-body -->
									<div class="box-footer">
										<button type="submit" class="btn btn-info pull-right">Actualizar</button>
										<br>

									</div>
									<!-- Mensajes de actualizado o no -->
									<div th:if="${actualizado != null}"
										class="alert alert-success alert-dismissible">
										<button type="button" class="close" data-dismiss="alert"
											aria-hidden="true">&times;</button>
										<h4 th:text="${(actualizado)}">
											<i class="icon fa fa-check"></i>Mensaje de actualizado
										</h4>
									</div>

									<div th:if="${error != null}"
										class="alert alert-danger alert-dismissible">
										<button type="button" class="close" data-dismiss="alert"
											aria-hidden="true">&times;</button>
										<h4 th:text="${(error)}">
											<i class="icon fa fa-check"></i>Mensaje de actualizado
										</h4>
									</div>
									<!-- /.box-footer -->
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /.box-header -->
		</div>
		<!-- /Wrapper del Contenido -->

		<!-- Footer Principal -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">Proyecto Final DAW</div>
			<!-- Contenido Izquierda -->
			<strong>Copyright &copy; 2016 <a href="#">Antonio
					Sanchez Astudillo</a>.
			</strong> Todos los derechos reservados.
		</footer>
	</div>
	<!-- /Wrapper -->

	<!-- Fragment con los scripts de la aplicacion -->
	<div th:include="../fragments/scripts_fragment :: scripts"></div>
	<script th:src="@{/ajax/ajaxEntrenamiento.js}"></script>
	<script th:src="@{/js/entrenamiento.js}"></script>
	<script>
		$(function() {

			$('#datepicker').datepicker({
				format : 'dd/mm/yyyy',
				autoclose : true,
				language: "es",
				todayHighlight: true
			});

		});
	</script>
</body>
</html>