<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="../fragments/head_fragment :: head (#{home.page.title})">
</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<!-- Header principal -->
		<header th:replace="/layout/header_layout :: header"
			class="main-header"></header>

		<aside th:replace="/layout/aside_layout :: aside" class="main-sidebar">

		</aside>

		<!-- Wrapper del Contenido -->
		<div class="content-wrapper">
			<!-- Contenido Header-->
			<section class="content-header">
				<h1 th:text="'Entrenamientos de: ' + ${(session.usuario.login)}"></h1>

			</section>

			<!-- Contenido Principal -->
			<section class="content">

				<div class="row">
					<div class="col-md-6">
						<div class="box box-success">
							<div class="box-header with-border">
								<i class="fa fa-plus"></i>

								<h3 class="box-title">Agregar entrenamiento</h3>
							</div>
							<div class="box-body">
								<a th:href="@{/home/entrenamiento/nuevoentrenamiento}"
									class="btn btn-success"> Nuevo Entrenamiento</a>
							</div>
						</div>
					</div>
				</div>
				<!-- /.box-header -->

				<!-- Lista de entrenamientos -->
				<div class="row">
					<div class="col-md-12">
						<div class="box box-warning box-solid">
							<div class="box-header with-border">
								<h3 class="box-title">Lista de entrenamientos planificados</h3>

								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool"
										data-widget="collapse" data-toggle="tooltip" title="Minimizar">
										<i class="fa fa-minus"></i>
									</button>
								</div>
								<!-- /.box-tools -->
							</div>
							<div class="box-body">
								

								<table id="tablaEntreno"
									th:if="${not #lists.isEmpty(entrenamientos)}"
									class="table table-striped table-bordered">
									<thead>
									<tr>
										<th>Nombre Entrenamiento</th>
										<th>Fecha</th>
										<th>Notas entrenamiento</th>
										<th>Acciones</th>
									</tr>
									</thead>
									<tbody>
										<tr th:id="${entrenamiento.idEntrenamiento}"
											th:each="entrenamiento : ${entrenamientos}">
											<td th:text="${entrenamiento.nombreEntreno}"></td>
											<td
												th:text="${#dates.dayOfWeekName(entrenamiento.fecha) + ' ' + #dates.format(entrenamiento.fecha, 'dd MMMM yyyy')}"></td>
											<td th:text="${entrenamiento.notas}"></td>
											<td><a
												th:href="@{|/home/entrenamiento/${entrenamiento.idEntrenamiento}/actualizar|}"
												class="btn btn-success btn"> <span
													class="fa fa-pencil-square-o"></span> Editar
											</a> <a
												th:href="@{|/home/entrenamiento/${entrenamiento.idEntrenamiento}/eliminar|}"
												th:id="${'entr' + entrenamiento.idEntrenamiento}"
												class="btn btn-danger btn eliminarEntreno"> <span
													class="fa fa-times-circle"></span> Eliminar
											</a></td>
										</tr>
									</tbody>
								</table>

								<p th:if="${#lists.isEmpty(entrenamientos)}" class="text-red">No
									existen entrenamientos todavía</p>

							</div>
						</div>
					</div>
				</div>
				<div th:if="${insertado != null}"
					class="alert alert-success alert-dismissible">
					<button type="button" class="close" data-dismiss="alert"
						aria-hidden="true">&times;</button>
					<h4 th:text="${(insertado)}">
						<i class="icon fa fa-check"></i>Insertado
					</h4>
				</div>

			</section>
			<!-- /Contenido Principal -->
		</div>
		<!-- /Wrapper del Contenido -->

		<!-- Footer Principal -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">Proyecto Final DAW</div>
			<!-- Contenido Izquierda -->
			<strong>Copyright &copy; 2016 <a href="#">Antonio
					Sanchez Astudillo</a>.
			</strong> Todos los derechos reservados.
		</footer>
	</div>
	<!-- /Wrapper -->

	<!-- Fragment con los scripts de la aplicacion -->
	<div th:include="../fragments/scripts_fragment :: scripts"></div>
	<script th:src="@{/ajax/ajaxEntrenamiento.js}"></script>
</body>
</html>