<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="../fragments/head_fragment :: head (#{home.page.title})">
</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<!-- Header principal -->
		<header th:replace="/layout/header_layout :: header"
			class="main-header"></header>

		<aside th:replace="/layout/aside_layout :: aside" class="main-sidebar">

		</aside>

		<!-- Wrapper del Contenido -->
		<div class="content-wrapper">
			<!-- Contenido Header-->

			<!-- Contenido Principal -->
			<section class="content-header">
				<h1>Nuevo Entrenamiento</h1>
			</section>
			<!-- /Contenido Principal -->
			<section class="content">

				<div class="row">
					<div class="col-md-12">
						<div class="box box-success">
							<div class="box-header with-border">
								<h3 class="box-title">Datos entrenamiento</h3>
							</div>
							<div class="box-body">
								<form th:action="@{/home/entrenamiento/crearentrenamiento}"
									method="post" th:object="${entrenamiento}"
									class="form-horizontal">
									<input type="hidden" th:field="*{idEntrenamiento}">
									<div class="box-body">
										<div class="form-group">
											<label for="nombreEntreno" class="col-sm-2 control-label">Nombre
												entrenamiento(*): </label>

											<div
												th:class="${#fields.hasErrors('nombreEntreno')} ? 'input-group has-error col-sm-6' : 'input-group col-sm-6' "
												class="input-group col-sm-6">
												<input th:field="*{nombreEntreno}"
													id="nombreEntreno" type="text" class="form-control">
												<div class="input-group-addon">
													<i class="fa fa-pencil-square-o"></i>
												</div>
											</div>
										</div>

										<div class="form-group">
											<label for="datepicker" class="col-sm-2 control-label">Fecha
												de Entreno(*)</label>

											<div
												th:class="${#fields.hasErrors('fecha')} ? 'input-group has-error col-sm-6' : 'input-group col-sm-6' "
												class="input-group col-sm-6">
												<input th:field="*{fecha}" readonly="readonly"
													id="datepicker" type="text" class="form-control">
												<div class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</div>
											</div>
										</div>

										<div class="form-group">
											<label for="notasEntreno" class="col-sm-2 control-label">Notas
												de entreno</label>

											<div class="input-group col-sm-6">

												<textarea th:field="*{notas}" id="notasEntreno"
													style="resize: none" class="form-control" rows="3"
													placeholder="Introduce las notas del entrenamiento..."></textarea>
												<div class="input-group-addon">
													<i class="fa fa-sticky-note"></i>
												</div>
											</div>
										</div>

										<table id="tablaEjercicios" style="width: 50%"
											class="table table-striped">
											<tbody>
												<tr>
													<th style="width: 40%;">Ejercicio</th>
													<th>Carga Maxima</th>
													<th>Total Repeticiones</th>
													<th></th>

												</tr>
											</tbody>
										</table>
										<div class="col-md-2">

											<button id="agregarEjercicio" type="button"
												class="btn btn-success">
												<i class="fa fa-plus"></i> Agregar Ejercicio
											</button>
										</div>
									</div>

									<!-- /.box-body -->
									<div class="box-footer">
										<button type="submit" class="btn btn-info pull-right">Crear
											Entrenamiento</button>
										<br>

									</div>

									<!-- /.box-footer -->
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /.box-header -->
		</div>
		<!-- /Wrapper del Contenido -->

		<!-- Footer Principal -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">Proyecto Final DAW</div>
			<!-- Contenido Izquierda -->
			<strong>Copyright &copy; 2016 <a href="#">Antonio
					Sanchez Astudillo</a>.
			</strong> Todos los derechos reservados.
		</footer>
	</div>
	<!-- /Wrapper -->

	<!-- Fragment con los scripts de la aplicacion -->
	<div th:include="../fragments/scripts_fragment :: scripts"></div>
	<script th:src="@{/ajax/ajaxEntrenamiento.js}"></script>
	<script th:src="@{/js/entrenamiento.js}"></script>
	<script>
		$(function() {

			//Inicializamos select2
			$(".select2").select2();

			$('#datepicker').datepicker({
				format : 'dd/mm/yyyy',
				autoclose : true
			}).datepicker("setDate", new Date());

		});
	</script>
</body>
</html>