<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="../fragments/head_fragment :: head (#{registroPeso.page.title})">
</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<!-- Header principal -->
		<header th:replace="/layout/header_layout :: header"
			class="main-header"></header>

		<aside th:replace="/layout/aside_layout :: aside" class="main-sidebar">

		</aside>

		<!-- Wrapper del Contenido -->
		<div class="content-wrapper">

			<!-- Contenido Header-->
			<section class="content-header">
				<h1 th:text="'Registro de peso de: ' + ${(session.usuario.login)}"></h1>
			</section>

			<section class="content">

				<div class="row">
					<div class="col-md-6">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">Introducir peso</h3>
							</div>
							<div class="box-body">
								<form th:action="@{/home/registrarPeso/registrar}" method="post"
									th:object="${peso}" id="formPeso" class="form-horizontal">
									<div class="box-body">

										<div
											th:class="${#fields.hasErrors('pesoReg')} ? 'form-group has-error' : 'form-group' "
											class="form-group">
											<label for="pesoReg" class="col-sm-2 control-label">Peso(*):
											</label>

											<div class="input-group col-sm-6">

												<input th:field="*{pesoReg}" type="number" step="0.1"
													class="form-control" id="pesoReg"> <span
													class="input-group-addon"> <i
													class="fa fa-balance-scale"></i>
												</span>


											</div>
											<div class="form-group">
												<div class="input-group col-sm-6 col-sm-offset-2">
													<label th:if="${#fields.hasErrors('pesoReg')}"
														th:each="err : ${#fields.errors('pesoReg')}"
														class="control-label" for="inputError"><i
														class="fa fa-times-circle-o"></i> <span th:text="${err}"></span>
													</label>
												</div>
											</div>
										</div>

										<div
											th:class="${#fields.hasErrors('fecha')} ? 'form-group has-error' : 'form-group' ">
											<div class="input-group col-sm-12" id="datepickerPeso"></div>
											<div class="input-group col-sm-12 col-sm-offset-4">
												<label th:if="${#fields.hasErrors('fecha')}"
													th:each="err : ${#fields.errors('fecha')}"
													class="control-label" for="inputError"><i
													class="fa fa-times-circle-o"></i> <span th:text="${err}"></span>
												</label>
											</div>
										</div>
										<input type="hidden" th:field="*{fecha}" id="fechaPeso">
									</div>
									<div class="box-footer">
										<button type="submit" class="btn btn-success pull-right">Guardar</button>
										<br> <br>
										<div th:if="${registrado != null}"
											class="alert alert-success alert-dismissible">
											<button type="button" class="close" data-dismiss="alert"
												aria-hidden="true">&times;</button>
											<h4 th:text="${(registrado)}">
												<i class="icon fa fa-check"></i>Insertado
											</h4>
										</div>
									</div>
								</form>
							</div>

						</div>

					</div>

					<div class="col-md-6">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">Evolución peso últimos 30 días</h3>

								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool"
										data-widget="collapse" data-toggle="tooltip" title="Minimizar">
										<i class="fa fa-minus"></i>
									</button>
									<button type="button" class="btn btn-box-tool"
										data-widget="remove" data-toggle="tooltip" title="Eliminar">
										<i class="fa fa-times"></i>
									</button>
								</div>
							</div>
							<div class="box-body" style="display: block;">
								<div class="chart">
									<canvas id="areaChart" style="height: 250px; width: 788px;"
										height="250" width="788"></canvas>
								</div>
							</div>
						</div>
					</div>


				</div>
				<div class="row">
					<div class="col-lg-3 col-xs-3">
						<!-- small box -->
						<div class="small-box bg-green">
							<div class="inner">
								<h3
									th:utext="${ultimoPeso.pesoReg == null} ? 'No hay datos': ${#numbers.formatDecimal(ultimoPeso.pesoReg, 0, 1)} + '<sup style=font-size:' + '20px' + '>Kg</sup>'">
								</h3>

								<p
									th:text="${ultimoPeso.fecha == null} ? '' : 'Peso actual registrado a fecha de: ' + ${#dates.format(ultimoPeso.fecha, 'dd/MM/yyyy')}">Peso
									actual registrado</p>
							</div>
							<div class="icon">
								<i class="ion ion-stats-bars"></i>
							</div>
							<a th:href="@{/home/seguimientoPeso}" class="small-box-footer"> Más información <i
								class="fa fa-arrow-circle-right"></i>
							</a>
						</div>


					</div>

					<div class="col-lg-3 col-xs-3">
						<!-- small box -->
						<div class="small-box bg-red">
							<div class="inner">
								<h3 th:utext="${promedioPeso == null} ? 'No hay datos': ${#numbers.formatDecimal(promedioPeso, 0, 1)} + '<sup style=font-size:' + '20px' + '>Kg</sup>'"></h3>

								<p
									th:text="${promedioPeso == null} ? '' : 'Promedio del peso en los últimos 30 días:'">Peso
									actual registrado</p>
							</div>
							<div class="icon">
								<i class="ion ion-pie-graph"></i>
							</div>
							<a href="#" class="small-box-footer"> Más información <i
								class="fa fa-arrow-circle-right"></i>
							</a>
						</div>


					</div>

				</div>

			</section>

		</div>
		<!-- /Wrapper del Contenido -->

		<!-- Footer Principal -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">Proyecto Final DAW</div>
			<!-- Contenido Izquierda -->
			<strong>Copyright &copy; 2016 <a href="#">Antonio
					Sanchez Astudillo</a>.
			</strong> Todos los derechos reservados.
		</footer>
	</div>
	<!-- /Wrapper -->

	<!-- Fragment con los scripts de la aplicacion -->
	<div th:include="../fragments/scripts_fragment :: scripts"></div>
	<script th:src="@{/ajax/ajaxSeguimientoPeso.js}"></script>
	<script>
		$(function() {

			$('#datepickerPeso').datepicker({
				format : 'dd/mm/yyyy',
				autoclose : true,
				todayBtn : "linked",
				endDate : '+0d',
				language : "es",
				todayHighlight : true
			}).datepicker("setDate", new Date());

			$('#datepickerPeso').on(
					"changeDate",
					function() {
						$('#fechaPeso').val(
								$('#datepickerPeso').datepicker(
										'getFormattedDate'));
					});
		});
	</script>
</body>
</html>