<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="../fragments/head_fragment :: head (titulo=#{registro.page.title})">
</head>
<body class="hold-transition register-page">
	<div class="register-box">
		<div class="register-logo">
			<a href="#"><b>Admin</b>LTE</a>
		</div>

		<div class="register-box-body">
			<p class="login-box-msg">Registrar un nuevo miembro</p>
			<div th:if="${error != null}" th:class="${error} ? 'alert alert-danger alert-dismissible' : 'alert alert-success alert-dismissible'"
				class="alert alert-success alert-dismissible">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true">&times;</button>
				<h4 th:text="${mensaje}">
				</h4>
			</div>

			<form th:action="@{/registrarse}" th:object="${usuario}"
				method="post">
				<div th:class="${#fields.hasErrors('login')} ? 'form-group has-error' : 'form-group'">
					<div class="input-group">
						<input type="text" th:field="*{login}" class="form-control" placeholder="Login">
						<span class="input-group-addon"> <i class="fa fa-user"></i>
						</span>
					</div>
					<div class="form-group has-error">
						<label th:if="${#fields.hasErrors('login')}"
							th:each="err : ${#fields.errors('login')}" class="control-label"
							for="inputError"><i class="fa fa-times-circle-o"></i> <span
							th:text="${err}"></span> </label>
					</div>
				</div>
				<div th:class="${#fields.hasErrors('email')} ? 'form-group has-error' : 'form-group'">
					<div class="input-group">
						<input type="text" th:field="*{email}" class="form-control" placeholder="Email">
						<span class="input-group-addon"> <i class="fa fa-envelope"></i>
						</span>
					</div>
					<div class="form-group has-error">
						<label th:if="${#fields.hasErrors('email')}"
							th:each="err : ${#fields.errors('email')}" class="control-label"
							for="inputError"><i class="fa fa-times-circle-o"></i> <span
							th:text="${err}"></span> </label>
					</div>
				</div>
				<div th:class="${#fields.hasErrors('clave')} ? 'form-group has-error' : 'form-group'">
					<div class="input-group">
						<input type="password" th:field="*{clave}" class="form-control" placeholder="Contraseña">
						<span class="input-group-addon"><i class="fa fa-key"></i>
						</span>
					</div>
					<div class="form-group has-error">
						<label th:if="${#fields.hasErrors('clave')}"
							th:each="err : ${#fields.errors('clave')}" class="control-label"
							for="inputError"><i class="fa fa-times-circle-o"></i> <span
							th:text="${err}"></span> </label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary btn-block btn-flat">Registrarse</button>
					</div>
				</div>
			</form>
			<div class="row">
				<div class="col-xs-12">
					<a th:href="@{/login}" href="login.html" class="text-center">Ya
						tengo un usuario registrado</a>
				</div>
			</div>

		</div>
		<!-- /.form-box -->
	</div>
	<!-- /.register-box -->

	<!-- Fragment con los scripts de la aplicacion -->
	<div th:include="../fragments/scripts_fragment :: scripts"></div>

</body>
</html>